body {
  background-position: #aaa;
}
#-div {
	dd
}
.btn_cl {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid blue;
  color: black;
  transition: all 2s ease-in;
  transform: translateY(0%);
}
.btn_cl:hover {
  transform: translateY(-500%);
}
.pop-up {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.3);
}
.pop-up-content {
  width: 50%;
  height: 30%;
  border: 1px solid black;
  border-radius: 3px;
  background: white;
}
.hidden {
  visibility: hidden;
}

.red {
  color: red;
}
